.light-dark-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card-container {
  border-radius: 10px;
  text-align: center;
  width: 80%;
  max-width: 400px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.dark {
  background-color: black;
  color: white;
}

.light {
  background-color: white;
  color: black;
  border: 1px solid #000000;
}

.heading {
  font-family: 'Roboto';
  font-size: 22px;
}
@media screen and (min-width: 768px) {
  .heading {
    font-size: 32px;
  }
}

.button {
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

@media screen and (min-width: 768px) {
  .button {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
